<nav id="site-navigation" class="main-navigation" role="navigation">
  <ul class="menu clearfix">
    <li><a href="#" title="View and customize your dashboard.">Home</a></li>
    <li class="current-menu-item"><a href="#" title="Administer content and comments.">About</a></li>
    <li><a href="#" title="Administer blocks, content types, menus, etc.">Services</a></li>
    <li><a href="#" title="Manage user accounts, roles, and permissions.">Projects</a></li>
    <li><a href="#" title="Extend site functionality.">Blog</a></li>
  </ul>
</nav>