.container {
	@include container();
	max-width: 1200px;
	margin: 0 1em;
	position: relative;

	@include breakpoint($bp-xxl) {
		margin: 0 auto;
	}

	&.narrow {
		max-width: 1040px;
		margin-left: 1em;
		margin-right: 1em;

		@include breakpoint($bp-xl) {
			margin: 0 auto;
		}
	}

	&.narrower {
		max-width: 800px;
		margin-left: 1em;
		margin-right: 1em;

		@include breakpoint(800px) {
			margin: 0 auto;
		}
	}
}