// Footer mewsletter widget
.footer-newsletter-signup {
	padding-top: 5%;
	padding-bottom: 7%;
	text-align: center;
	background-color: $color-primary;

	h2 {
		color: $gray-dark;
	}

	label {
		display: inline-block;
		vertical-align: middle;
	}

	button {
		padding: 7px 30px 8px;
	}
}

// Footer proper
.site-footer {
	padding-top: 2%;
	padding-bottom: 5%;
	background-color: $black;
}

	.footer-nav {

		.menu-main-menu-container {
			margin: 0 auto;

			.menu {

				a {
					color: $color-link;

					&:hover {
						color: $color-link-hover;
					}
				}
			}

		}
	}

	.site-info {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		@include breakpoint($bp-lg) {
			flex-direction: row;
			flex-wrap: nowrap;
		}
	}

	.footer-social-links {
		margin: 2em auto;
		height: 48px;

		@include breakpoint($bp-lg) {
			margin: 0;
		}

		a {
			display: inline-block;
			margin: 0 5px;

			&:hover {
				text-decoration: none;
			}

			&:before {
				font-size: 1.875em;
				border: 1px solid;
				height: auto;
				padding: 10px;
			}
		}
	}

	.footer-contact-phone {
		color: $gray-light;
		font-size: $font-23;
		text-transform: uppercase;

		strong {
			color: $color-primary;
		}
	}