.view {
  &s-row {
    clear: both;
  }
}

.scrim-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $color-primary;
	background-color: rgba(#000, 0.4);
	z-index: z(contentBottom);

	&.gray-overlay {
		background-color: $gray-dark;
		background-color: rgba($gray-dark, 0.9);
	}

	&.blue-overlay {
		background-color: $viking;
		background-color: rgba($viking, 0.8);
	}
}