// Colors
// -------------------------------
// Greens - main, dark, lite
$limeade: #77ba00;
$christi: #6ba910;
$conifer: #8dd95d;

// Oranges - main, dark, lite
$ecstasy: #f98915;
$mango-tango: #dc6a00;
$tan-hide: #fba751;

// Blues - main, dark, lite
$cerulean: #00adef;
$astral: #3d879a;
$viking: #68b5d4;

// Tertiary colors
$red: #dd2b2b;
$purple: #9e2171;
$yellow: #ddba00;

// Grays
$white: #fff;
$gray-lightest: #edeff0;
$gray-light: #bbc3c5;
$gray: #77868d;
$gray-dark: #344762;
$black: #000;

// Background colors;
$color-primary: $limeade;
$color-secondary: $ecstasy;

// Text colors
$color-body: $black;
$color-body-alt: $gray-dark;
$color-link: $limeade;
$color-link-hover: $christi;