// Mixins and Extends

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

%center {
  text-align: center;
}

.center {
  @extend %center;
}