// styles specific to the home page hero

	.hero-learn-more {
		color: $color-secondary;
		text-transform: uppercase;
	}

	.hero-video {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 0;
	}