<!-- Begin .header -->
<header id="masthead" class="site-header cf" role="banner">
	<div class="container">
		{{> atoms-logo }}
		{{> molecules-primary-nav }}
		{{> atoms-login }}
	</div>
</header>
<!-- End .header -->