.hero {
	background-size: cover;
	position: relative;
	width: 100%;
	height: 90vh;
	overflow: hidden;
}

	.hero-content {
		position: absolute;
		width: 100%;
		color: $white;
		bottom: 0;
		padding-bottom: 4em;
		z-index: z(contentTop);
		text-align: center;
	}

	.hero-title {
		font-size: 3.75em;
		text-transform: uppercase;
	}

	.hero-text {
		@include h1();
	}