<section class="hero home-hero">
	<div class="hero-content">
		<div class="container">
			<p class="hero-title">Hero Title</p>
			<p class="hero-text">Lorem ipsum dolor sit amet,<br>consectetur adipisicing elit.</p>
			<a href="#" class="hero-learn-more">Learn more</a>
		</div>
	</div>
	<video class="hero-video" autoplay loop>
		<source src="../../../../images/videos/Night-BBQ.mp4" type="video/mp4">
	</video>
</section>