<section class="news-alert">
	<div class="container">
		<a href="#" class="btn alert-btn">News</a>
		<a href="#" class="alert-link">How today’s architects are using Holo Lens to move ahead.</a>
	</div>
</section>