<a href="#" class="btn" role="button">Button</a>
<button class="btn-secondary">Secondary</button>
<a href="#" class="btn-inverse" role="button">Inverse</a>
<button class="btn btn-block">Block</button>