// About page styles
.about-section {
	padding-top: 5%;
	padding-bottom: 5%;
}

	.about-title {
		color: $gray-dark;
	}

.about-team {
	padding-top: 5%;
	padding-bottom: 6%;

	h2 {
		color: $gray-dark;
		margin-bottom: 2em;

		@include breakpoint($bp-md) {
			margin-bottom: 3em;
		}
	}
}

	.team-members {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	.team-member {
		margin-bottom: 1em;
		position: relative;
		@include aspect-ratio(4, 3);

		@include breakpoint($bp-lg) {
			width: span(4);
			margin-bottom: 2em;
		}
	}

		.team-member-headshot {
			max-width: none;
			float: left;
			height: 100%;
			width: auto;
			margin-bottom: 1em;

			@include breakpoint($bp-md) {
			}
		}

		.team-member-info {
			width: 100%;
			margin-top: 1em;
		}

			.team-member-name {
				font-size: $font-16;
				text-transform: uppercase;
				display: block;
				line-height: 1;
			}

			.team-member-title {
				font-size: $font-16;
				line-height: 1;
			}

.project-cta {
	background-color: $gray-dark;
	padding-top: 5%;
	padding-bottom: 6%;
	text-align: center;

	h2 {
		color: $color-secondary;
	}
}

	.project-cta-text {
		color: $white;
		font-size: 1.875em;
	}

	.project-contact {
		text-align: left;
		max-width: 500px;
		margin: 0 auto;

		.projects-contact-phone,
		.projects-contact-email {
			font-size: 1.75em;
		}
	}